{% extends 'main/base.html' %}
{% block title %}Profile{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="form-content my-3 p-3">
    <div class="container">
        <div class="row  justify-content-center">
            <div class="col-2"></div>
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg bgr-card">    
                                <div class="row p-3 justify-content-center">
                                    <img class="rounded-circle account-img" src="{{ user.profile.avatar.url }} " style="cursor: pointer; width: 80px; height: 80px;"/>
                                </div>
                    {% if user_form.errors %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <div id="form_errors">
                                {% for key, value in user_form.errors.items %}
                                    <strong>{{ value }}</strong>
                                {% endfor %}
                            </div>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                    <div class="form-content px-3  bgr-card">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-10 px-5">
                                    <div class="form-group">
                                        <label class="small mb-1">Email:</label>
                                            {{ user_form.email }}
                                        <label class="small mb-1">Phone:</label>
                                            {{ user_form.phone }}
                                    </div>
                                    <div class="form-group">        
                                        <label class="small mb-1">NIF:</label>
                                            {{ profile_form.nif }} 
                                        <label class="small mb-1">CIN:</label>
                                            {{ profile_form.cin }}
                                    </div>
                                    <div class="form-group">         
                                        <label class="small mb-1">Designation:</label>
                                            {{ profile_form.designation }}  
                                        <label class="small mb-1">Birth Date:</label>
                                            {{ user_form.date_of_birth }}            
                                    </div>
                                    <div class="form-group">
                                        <a href="{% url 'password_change' %}">Change Password</a>
                                        <hr>
                                        <label class="small mb-1">Change Avatar:</label>
                                        {{ profile_form.avatar }}
                                    </div>
                                    <label class="small mb-1">Bio:</label> {{ profile_form.bio }}
                                </div>
                            </div>
                            <hr>
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                            <button type="reset" class="btn btn-primary">Reset</button>
                            <hr>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</div>
{% endblock content %}