{% extends 'core/base.html' %}
{% load static %}
{% block title %}Employee{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="header">
		<div class="side-nav">
			<div class="user">
				<img src="{% static 'images/user.png' %}" alt="" class="user-img">
				<div>
					<h2>Thomas Daniel</h2>
					<p>thomasd@gmail.com</p>
				</div>
				<img src="{% static 'images/star.png' %}" alt="" class="star-img">
			</div>
			<ul>
				<li><img src="{% static 'images/dashboard.png' %}"><p>Dashboard</p></li>
				<li><img src="{% static 'images/reports.png' %}"><p>Reports</p></li>
				<li><img src="{% static 'images/invoice.jpg' %}"><a href="{% url 'add-invoice' %}"><p>Invoice</p></a></li>
				<li><img src="{% static 'images/home.png' %}"><a href="/"><p>Home</p></a></li>
				<li><img src="{% static 'images/members.png' %}"><a href="{% url 'invoice-live' %}"><p>Invoice Live</p></a></li>
				<li><img src="{% static 'images/settings.png' %}"><p>Settings</p></li>
				<li><img src="{% static 'images/logout.png' %}"><p>Logout</p></li>
			</ul>
		</div>				
	</div>
{% endblock %}
{% block script %}
<script type="text/javascript" src="/static/main.js/?{% now 'U' %}"></script>
{% endblock %}