{% extends 'main/base.html' %}
{% block title %}Register{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-3"></div>
			<div class="col-6">
				<h1>Home Employee</h1>
				<div class="border-top pt-3">
		            <small class="text-muted">
		                <a class="ml-2" href="{% url 'add-invoice' %}">Add Invoice</a>
		            </small><br><br>
		        </div>
			</div>
			<div class="col-3"></div>
		</div>
	</div>
{% endblock %}